{extends './../Layouts/@layout.latte'}

{block content}
    <a href="{link Admin:users}" class="btn btn-secondary mb-3">Back</a>
    <h1>Update User</h1>
    <form n:name="editForm">
        {control editForm}
    </form>
{/block}
