parameters:
    security.userStorage: Nette\Security\UserStorage
    security.user: Nette\Security\User
    security.authenticator: App\Security\Authenticator

services:
    routerFactory: App\Core\RouterFactory::createRouter
    - App\UI\Auth\AuthPresenter
    - App\Security\SecurityAuthenticator


search:
    - in: %appDir%
      classes:
          - *Factory
          - *Facade
